footer{
    margin-top: 30px;
    background: linear-gradient(to top, rgb(5, 87, 49),rgb(8, 115, 177));
    font-family:Tahoma, sans-serif;
    text-align: center;
    padding: 5px;
    margin: 1%;
    .logos{
        padding: 2%; 
    }
}
