@import "body";
@import "header";
@import "valoraciones";
@import "footer";
@import "paginas";
@import "colores";
@import "mediaQuery";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


